body {
    background-color: rgb(210, 248, 246);
    text-align: center;
}

.main-header {
    padding: 3% 0;
}

.heading {
    margin: 10% 0 5%;
}

.secondary-heading {
    margin: 5%;
}

.card-text {
    text-align: left;
    padding: 7% 0;
}



